In [1]:
####PANDAS

In [2]:
#SERIES

In [3]:
import numpy as np
import pandas as pd

In [4]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511,318.523])

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [6]:
g7_pop.name = 'G7 Population in millions'

In [7]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [8]:
g7_pop.dtype

dtype('float64')

In [9]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [10]:
type(g7_pop.values)

numpy.ndarray

In [11]:
g7_pop[0]

35.467

In [12]:
g7_pop[1]

63.951

In [13]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [14]:
l = ['a', 'b', 'c']

In [15]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [16]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
    
]

In [17]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [18]:
pd.Series(
{
     'Canada': 35.467,
     'France': 63.951,
     'Germany': 80.940,
     'Italy': 60.665,
     'Japan': 127.061,
     'United Kingdom': 64.511,
     'United States': 318.523
}, name = 'G7 Population in millions'

)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [19]:
pd.Series(
    [35.467, 63951, 80.940, 60.665, 127.061, 64.511, 318.523], 
    index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],
    name = 'G7 Population in millions')

Canada               35.467
France            63951.000
Germany              80.940
Italy                60.665
Japan               127.061
United Kingdom       64.511
United States       318.523
Name: G7 Population in millions, dtype: float64

In [20]:
g7_pop['Canada']

35.467

In [21]:
g7_pop['Japan']

127.061

In [22]:
g7_pop.iloc[0]

35.467

In [23]:
g7_pop.iloc[-1]

318.523

In [24]:
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [25]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

In [26]:
## Slicing also works, but IMPORTANT : In pandas upper bound is also included

In [27]:
g7_pop['Canada': 'Italy'] #ITALY IS ALSO INCLUDED

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [28]:
l = [1 ,2 ,3 ]

In [29]:
l

[1, 2, 3]

In [30]:
l[:2] #3 is not included

[1, 2]

In [31]:
#####

In [32]:
#### BOOLEAN ARRAYS ( CONDITIONAL SELECTION)

In [33]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [34]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [35]:
g7_pop[g7_pop >70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [36]:
g7_pop.mean()

107.30257142857144

In [37]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std()/2) | (g7_pop > g7_pop.mean() + 
                                                   g7_pop.std()/2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [38]:
####

In [39]:
##OPERATIONS AND METHODS

In [40]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [41]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [42]:
np.log(g7_pop)  #NATURAL LOGARITHM

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [43]:
g7_pop[ (g7_pop > 80) & (g7_pop <200) ]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

In [44]:
###MODIFYING SERIES

In [45]:
###

In [46]:
g7_pop['Canada'] = 40.5

In [47]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [48]:
g7_pop.iloc[-1] = 500

In [49]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [50]:
g7_pop[g7_pop < 70] = 99.99

In [51]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in millions, dtype: float64

In [52]:
#####

In [53]:
##### DATAFRAMES !!!!!!!!!!!!!

In [54]:
df = pd.DataFrame(
{
    'Population': [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        27348045
        
    ],
    'Surface Area':[
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        925967
        
        
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.971,
        0.915
        
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
        
    ]
    
    
    
    
    
}, columns = ['Population', 'GDP', 'Surface Area','HDI', 'Continent']



)

In [55]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.971    Europe
6     318.523  27348045        925967  0.915   America

In [56]:
df.index = [
    'Canada',
    'France',
    'Germany', 
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [57]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [58]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [59]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [61]:
df.size

35

In [62]:
df.shape

(7, 5)

In [63]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  6.508815e+06  1.832884e+06  0.909571
std     97.249970  9.239184e+06  3.602435e+06  0.031633
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.913000
75%    104.000500  4.238402e+06  7.833230e+05  0.915500
max    318.523000  2.734804e+07  9.984670e+06  0.971000

In [64]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [65]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

In [66]:
####

In [67]:
#### Indexing , Selectiong , Slicing

In [68]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [69]:
df.loc['Canada'] ###SELECTS VALUES ONLY OF INDEX 'CANADA'

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [70]:
df.iloc[-1] ##PAY ATTENTION THAT IT IS NOT LOC BUT ILOC (INTEGER LOCATION)

Population       318.523
GDP             27348045
Surface Area      925967
HDI                0.915
Continent        America
Name: United States, dtype: object

In [71]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [72]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [73]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  27348045

In [74]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [75]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [76]:
df.loc['France':'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [77]:
df.loc['France':'Italy', 'Population']  ##### only population column from 
###france to italy

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [78]:
####2 24 00 video time

In [79]:
df.loc['France':'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [80]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [82]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [83]:
df.iloc[-1]

Population       318.523
GDP             27348045
Surface Area      925967
HDI                0.915
Continent        America
Name: United States, dtype: object

In [84]:
df.iloc[[0,1,-1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  27348045        925967  0.915   America

In [85]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [95]:
df.iloc[1:3 ,3]  ##########IT IS THE 3RD COLUMN!!!!!!! THAT'S WHY ONLY HDI IS DISPLAYED

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [99]:
df.iloc[1:3, [0,3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [97]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

In [100]:
###RECOMMENDED - ALWAYS USE LOC AND ILOC TO REDUCE AMBIGUITY , SPECIALLY WITH DATAFRAMES WITH NUMERIC INDEXES

In [101]:
##### CONDITIONAL SELECTION (BOOLEAN ARRAYS)

In [102]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [103]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [105]:
df.loc[df['Population'] > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  27348045        925967  0.915   America

In [108]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [109]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  27348045

In [110]:
#####

In [111]:
###Dropping stuff


###It is the opposite of selection , instead you point values which you would like to drop

In [113]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [115]:
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [116]:
df.drop(columns = ['Population', 'HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   27348045        925967   America

In [121]:
df.drop(['Italy', 'Canada'], axis=0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [118]:
df.drop(['Population', 'HDI'], axis = 1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   27348045        925967   America

In [122]:
df.drop(['Population', 'HDI'], axis = 'columns')

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   27348045        925967   America

In [123]:
df.drop(['Canada','Germany'], axis = 'rows')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [124]:
########################

In [125]:
###############OPERATIONS

In [130]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  27348045

In [133]:
df[['Population', 'GDP']] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  273480.45

In [134]:
crisis = pd.Series([-1_000_000, -0.3], index = ['GDP', 'HDI'])

In [138]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [136]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [139]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.671
United States   26348045.0  0.615

In [140]:
#####

In [142]:
#### MODIFYIGN DATAFRAMES
### BELOW WILL BE ADDING NEW COLUMN

In [143]:
langs = pd.Series(
['French', 'German', 'Italian'],
    index = ['France', 'Germany', 'Italy'],
    name = 'Language'
)

In [144]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [145]:
df['Language'] = langs

In [146]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.971    Europe      NaN
United States      318.523  27348045        925967  0.915   America      NaN

In [147]:
####99.99 % OPERATIONS IN PANDAS ARE IMMUTABLE 
## SERIES CAN BE ADDED TO DATAFRAMES

In [ ]:
### REPLACING VALUES PER COLUMN

In [148]:
df['Language'] = 'English'

In [149]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.971    Europe  English
United States      318.523  27348045        925967  0.915   America  English

In [150]:
df['Language'] == 'English'

Canada            True
France            True
Germany           True
Italy             True
Japan             True
United Kingdom    True
United States     True
Name: Language, dtype: bool

In [151]:
df.rename(
columns = {
    'HDI': 'Human Development Index',
    'Annual Popcorn Consumption': 'APC',
    
}, index = {
    'United States': 'USA',
    'United Kingdom': 'UK',
    'Argentina': 'AR'
}
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,English
Germany,80.940,3874437,357114,0.916,Europe,English
Italy,60.665,2167744,301336,0.873,Europe,English
Japan,127.061,4602367,377930,0.891,Asia,English
UK,64.511,2950039,242495,0.971,Europe,English
USA,318.523,27348045,925967,0.915,America,English

In [152]:
df.rename(
index = str.upper
)

                Population       GDP  Surface Area    HDI Continent Language
CANADA              35.467   1785387       9984670  0.913   America  English
FRANCE              63.951   2833687        640679  0.888    Europe  English
GERMANY             80.940   3874437        357114  0.916    Europe  English
ITALY               60.665   2167744        301336  0.873    Europe  English
JAPAN              127.061   4602367        377930  0.891      Asia  English
UNITED KINGDOM      64.511   2950039        242495  0.971    Europe  English
UNITED STATES      318.523  27348045        925967  0.915   America  English

In [153]:
df.rename(
index = lambda x: x.lower()
)

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America  English
france              63.951   2833687        640679  0.888    Europe  English
germany             80.940   3874437        357114  0.916    Europe  English
italy               60.665   2167744        301336  0.873    Europe  English
japan              127.061   4602367        377930  0.891      Asia  English
united kingdom      64.511   2950039        242495  0.971    Europe  English
united states      318.523  27348045        925967  0.915   America  English

In [154]:
#####

In [155]:
##### DROPPING COLUMNS

In [156]:
df.drop(columns = 'Language', inplace = True)

In [157]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [158]:
### MORE RADICAL INDEX CHANGES

In [159]:
df.reset_index()

            index  Population       GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387       9984670  0.913   America
1          France      63.951   2833687        640679  0.888    Europe
2         Germany      80.940   3874437        357114  0.916    Europe
3           Italy      60.665   2167744        301336  0.873    Europe
4           Japan     127.061   4602367        377930  0.891      Asia
5  United Kingdom      64.511   2950039        242495  0.971    Europe
6   United States     318.523  27348045        925967  0.915   America

In [161]:
df.set_index('Population')

                 GDP  Surface Area    HDI Continent
Population
35.467       1785387       9984670  0.913   America
63.951       2833687        640679  0.888    Europe
80.940       3874437        357114  0.916    Europe
60.665       2167744        301336  0.873    Europe
127.061      4602367        377930  0.891      Asia
64.511       2950039        242495  0.971    Europe
318.523     27348045        925967  0.915   America

In [162]:
######## CREATING COLUMNS FROM OTHER COLUMNS

In [164]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  27348045

In [165]:
df['Population']/df['GDP']

Canada            0.000020
France            0.000023
Germany           0.000021
Italy             0.000028
Japan             0.000028
United Kingdom    0.000022
United States     0.000012
dtype: float64

In [168]:
df['GDP per capita'] = df['GDP'] / df['Population']

In [169]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP per capita
Canada,35.467,1785387,9984670,0.913,America,50339.385908
France,63.951,2833687,640679,0.888,Europe,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United Kingdom,64.511,2950039,242495,0.971,Europe,45729.239975
United States,318.523,27348045,925967,0.915,America,85858.933264

In [170]:
##### STATISTICAL INFO

In [171]:
df.head()

         Population      GDP  Surface Area    HDI Continent  GDP per capita
Canada       35.467  1785387       9984670  0.913   America    50339.385908
France       63.951  2833687        640679  0.888    Europe    44310.284437
Germany      80.940  3874437        357114  0.916    Europe    47868.013343
Italy        60.665  2167744        301336  0.873    Europe    35733.025633
Japan       127.061  4602367        377930  0.891      Asia    36221.712406

In [172]:
df.describe()

       Population           GDP  Surface Area       HDI  GDP per capita
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  6.508815e+06  1.832884e+06  0.909571    49437.227852
std     97.249970  9.239184e+06  3.602435e+06  0.031633    16991.697376
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.913000    45729.239975
75%    104.000500  4.238402e+06  7.833230e+05  0.915500    49103.699626
max    318.523000  2.734804e+07  9.984670e+06  0.971000    85858.933264

In [173]:
population = df['Population']

In [174]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [175]:
population.min(), population.max()

(35.467, 318.523)

In [176]:
population.sum()

751.118

In [178]:
population.sum() / len(population)

107.30257142857144

In [179]:
population.mean()

107.30257142857144

In [180]:
population.std()

97.24996987121581

In [181]:
population.median()

64.511

In [183]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [188]:
population.quantile(.25)

62.308

In [189]:
population.quantile([.2, .4, .6, .8, 1])

0.2     61.3222
0.4     64.1750
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64

In [190]:
###### READING EXTERNAL DATA AND PLOTTING

In [191]:
######

In [192]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline