In [1]:
####PANDAS

In [2]:
#SERIES

In [10]:
import numpy as np
import pandas as pd

In [14]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511,318.523])

In [15]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [16]:
g7_pop.name = 'G7 Population in millions'

In [17]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [18]:
g7_pop.dtype

dtype('float64')

In [19]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [20]:
type(g7_pop.values)

numpy.ndarray

In [21]:
g7_pop[0]

35.467

In [22]:
g7_pop[1]

63.951

In [23]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [24]:
l = ['a', 'b', 'c']

In [25]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [26]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
    
]

In [27]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [28]:
pd.Series(
{
     'Canada': 35.467,
     'France': 63.951,
     'Germany': 80.940,
     'Italy': 60.665,
     'Japan': 127.061,
     'United Kingdom': 64.511,
     'United States': 318.523
}, name = 'G7 Population in millions'

)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [32]:
pd.Series(
    [35.467, 63951, 80.940, 60.665, 127.061, 64.511, 318.523], 
    index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],
    name = 'G7 Population in millions')

Canada               35.467
France            63951.000
Germany              80.940
Italy                60.665
Japan               127.061
United Kingdom       64.511
United States       318.523
Name: G7 Population in millions, dtype: float64

In [33]:
g7_pop['Canada']

35.467

In [34]:
g7_pop['Japan']

127.061

In [35]:
g7_pop.iloc[0]

35.467

In [36]:
g7_pop.iloc[-1]

318.523

In [40]:
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [43]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

In [44]:
## Slicing also works, but IMPORTANT : In pandas upper bound is also included

In [45]:
g7_pop['Canada': 'Italy'] #ITALY IS ALSO INCLUDED

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [46]:
l = [1 ,2 ,3 ]

In [47]:
l

[1, 2, 3]

In [48]:
l[:2] #3 is not included

[1, 2]

In [49]:
#####

In [50]:
#### BOOLEAN ARRAYS ( CONDITIONAL SELECTION)

In [51]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [52]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [53]:
g7_pop[g7_pop >70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [54]:
g7_pop.mean()

107.30257142857144

In [55]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std()/2) | (g7_pop > g7_pop.mean() + 
                                                   g7_pop.std()/2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [56]:
####

In [57]:
##OPERATIONS AND METHODS

In [60]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [59]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [61]:
np.log(g7_pop)  #NATURAL LOGARITHM

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [62]:
g7_pop[ (g7_pop > 80) & (g7_pop <200) ]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

In [63]:
###MODIFYING SERIES

In [64]:
###

In [75]:
g7_pop['Canada'] = 40.5

In [66]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [73]:
g7_pop.iloc[-1] = 500

In [76]:
g7_pop

Canada               40.5
France             63.951
Germany             80.94
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States         500
Name: G7 Population in millions, dtype: object

In [77]:
g7_pop[g7_pop < 70] = 99.99

In [78]:
g7_pop

Canada              99.99
France              99.99
Germany             80.94
Italy               99.99
Japan             127.061
United Kingdom      99.99
United States         500
Name: G7 Population in millions, dtype: object

In [79]:
#####

In [80]:
##### DATAFRAMES !!!!!!!!!!!!!

In [88]:
df = pd.DataFrame(
{
    'Population': [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        27348045
        
    ],
    'Surface Area':[
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        925967
        
        
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.971,
        0.915
        
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
        
    ]
    
    
    
    
    
}, columns = ['Population', 'GDP', 'Surface Area','HDI', 'Continent']



)

In [89]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.971    Europe
6     318.523  27348045        925967  0.915   America

In [90]:
df.index = [
    'Canada',
    'France',
    'Germany', 
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [91]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [93]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [94]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [96]:
df.size

35

In [97]:
df.shape

(7, 5)

In [98]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  6.508815e+06  1.832884e+06  0.909571
std     97.249970  9.239184e+06  3.602435e+06  0.031633
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.913000
75%    104.000500  4.238402e+06  7.833230e+05  0.915500
max    318.523000  2.734804e+07  9.984670e+06  0.971000

In [99]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [100]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

In [101]:
####

In [102]:
#### Indexing , Selectiong , Slicing

In [103]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.971    Europe
United States      318.523  27348045        925967  0.915   America

In [104]:
df.loc['Canada'] ###SELECTS VALUES ONLY OF INDEX 'CANADA'

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [105]:
df.iloc[-1] ##PAY ATTENTION THAT IT IS NOT LOC BUT ILOC (INTEGER LOCATION)

Population       318.523
GDP             27348045
Surface Area      925967
HDI                0.915
Continent        America
Name: United States, dtype: object

In [106]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [107]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [108]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  27348045

In [111]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [114]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [115]:
df.loc['France':'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [116]:
df.loc['France':'Italy', 'Population']  ##### only population column from 
###france to italy

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [ ]:
####2 24 00 video time